.test-font {
  /* Apply to specific elements */
  font-family: Kanit, sans-serif;
  color: red;
}

/* body {
  font-family: "Kanit", sans-serif;
} */

/* Apply to specific elements */
.text-homepage {
  font-family: "Kanit", sans-serif;
}
